@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html {
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
}
body > * {
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 50%;
	font-size: 4em;
	color: white;
	text-shadow: -3px 0px black, 0px 3px black, 3px 0px black, 0px -3px black;
}

.action_button {
	min-width: 300px;
	margin: 16px 36px 16px 36px;
	background-color: #1D2D44;
	border-radius: 3px;
	border: 3px solid #101C2F;
	font-size: 3.6em;
	font-weight: bold;
	color: white;
	text-align: center;
	display: block;
	cursor: pointer;
	float: left;
}
.action_button:hover {
	background-color: #3B6198;
}

.hidden_file_chooser {
	display: none;
}

section[data-state] {
	display: none;
}
